@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-highlight: #febc1d;
  --color-bg: #e0f8ff;
  --color-text-blue: #00ade3;
  --color-header-bg: #27cbff;
  --color-gray: #888888;
  --color-skill-bg: #c3f1ff;
  --color-bg-dark: #313131;
  --color-skill-bg-dark: #121212;
}

@theme inline {
  --font-mukta: var(--font-mukta), sans-serif;
}
